.gh-head {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.gh-head-btn {
    --multiplier: 1.3;
}
